<div id='chartArea'></div>
<%= render_chart(@chart1, 'chartArea') %>
<div id='chartPie'></div>
<%= render_chart(@chart2, 'chartPie') %>
<div id='chartLine'></div>
<%= render_chart(@chart3, 'chartLine') %>
<div id='chartScatter'></div>
<%= render_chart(@chart4, 'chartScatter') %>

<div id='chartBar'>chartBar</div>
<%= render_chart(@chart5, 'chartBar') %>
<div id='BubbleChart'>BubbleChart</div>
<%= render_chart(@chart6, 'BubbleChart') %>

<div id='CandlestickChart'>CandlestickChart</div>
<%= render_chart(@chart8, 'CandlestickChart') %>

<div id='ColumnChart'>ColumnChart</div>
<%= render_chart(@chart9, 'ColumnChart') %>
<div id='ComboChart'>ComboChart</div>
<%= render_chart(@chart10, 'ComboChart') %>



<div id='GanttChart'>GanttChart</div>
<%= render_chart(@chart13, 'GanttChart') %>

<div id='GeoChart'>GeoChart</div>
<%= render_chart(@chart15, 'GeoChart') %>
<div id='Histogram'>Histogram</div>
<%= render_chart(@chart16, 'Histogram') %>

